.userTable{
    width: 60%;
    background-color: white;
   /* / color: white; */
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 50px;
    margin: 50px auto;
    padding: 50px;
}

.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.userTable table thead th{
    background-color: hsl(182, 54%, 50%);
    color: white;
    padding: 10px;
}

.userTable table tbody td{
    padding: 10px;
    text-align: center ;
}

.addbutton{
    text-decoration: none;
    background-color: purple;
    font-weight: 500;
    color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    padding: 10px;
}

.actionButton button{
    border: 0;
    outline: none;
    background-color: hsl(9, 82%, 48%);
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actionButton a{
    background-color: hsl(108, 96%, 51%);
    padding: 4px 10px;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
}